<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index - Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <form action="/peeps/new">
      <input type="submit" value="Peep" />
    </form>
    <ul>
      <% @peeps.each do |peep| %>
        <li>
          <div class="peep" id="peep-<%= peep.id%>">
            <%= peep.peep %>
            <div class="delete_button">
              <form action="/peeps/<%= peep.id %>" method='post'>
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" />
              </form>
            </div>
            <div class="edit_button">
              <form action="/peeps/<%= peep.id %>/edit" method='get'>
                <input type="submit" value="Edit" />
              </form>
            </div>
          <div class="comment_button">
            <form action="/peeps/<%= peep.id %>/comments/new" method='get'>
              <input type="submit" value="Comment" />
            </form>
          </div>
        <ul>
        <% peep.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
      </div>
        </li>
      <% end %>
    </ul>
  </body>
</html>